[submodule "Assets/Plugins/unity-tracker"]
	path = Assets/Plugins/unity-tracker
url=git@github.com:playgen/unity-tracker.git
[submodule "sugar-unity"]
	path = sugar-unity
	url = git@codebasehq.com:playgen/rage/sugar-unity.git